 <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left; /* Para que el texto no esté todo centrado */
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
    </style>
